#logo{
	width: 260px;
}

.navbar-brand {
	padding: 0 15px !important;
}

.btn-xl{
	background-color: #4cc3c8 !important;
	border-color: #4cc3c8;
}

.portfolio{
	margin-bottom: 40px !important;
	color: #58595b;
}

#portfolio .portfolio-item {
    margin: 0 0 !important;
    padding: 0 !important;
}

.projects{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-style: normal;
}

.navbar-default .navbar-toggle {
    background-color: #4cc3c8 !important;
    border-color: #4cc3c8 !important;
}

.navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: white !important;
    background-color: #4cc3c8 !important;
}

.about-heading{
	font-size: 16px;
    text-transform: none;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 0px;
    margin-top: 5px !important;
}

.about-heading-last{
	font-size: 16px;
    text-transform: none;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 75px;
    margin-top: 5px !important;
}

/*Clients*/

#clients-heading{
	text-align: center;
	margin: 0 auto;
}
.clients{
	background-color: #f7f7f7;
}

#about{
	background-color: #f7f7f7;
}

/*Contact*/

#contact-heading{
	margin-bottom: 50px;
	color: #333 !important;
}

#contact-info{
	margin-top: 70px;
}

#text-send{
	color: #58595b;
	font-weight:700;
	font-size: 24px;
}

.text-info{
	color: #58595b;
	margin-bottom: 1px !important;
}

.text-phone-mail{
	color: #58595b;
	margin-bottom: 1px !important;
}

#text-phone-mail{
	margin-top: 30px;
}

.triangle-blue{
	width: 16px;
	padding-top: 40px;
	float: right;
}

.triangle-blue-r{
	width: 16px;
	padding-top: 40px;
	float: left;
}

/*Footer*/

footer{
	background-color: #58595b;
}


.copyright{
	color: white !important;
}

.icons{
	width: 40px;
}

.social-media{
	float: right;
}

/*Projects*/
.projects-titles{
	font-weight: 700;
	font-size: 20px;
	margin-bottom: 2px !important;
}

/*Start Media Queries*/

@media only screen and (max-width: 767px) {
    .navbar-default .nav li a {
    text-align: center;
	}
	#logo{
	width: 200px;
	padding-top: 7px;
	}
	.intro-heading{
		font-size: 35px !important;
	}
}